ENVIRONMENT=DEV | PROD | STAG #REQUIRED
LOGGING_LEVEL=10 (DEBUG) | 20 (INFO) | 30 (WARNING) | 40 (ERROR) | 50 (CRITICAL) #REQUIRED
DEFAULT_DEV_IP=STRING #OPTIONAL
RESOLVE_IP_HEADER=STRING #OPTIONAL

POSTGRES_DRIVER_NAME=STRING #OPTIONAL
POSTGRES_HOST=STRING #REQUIRED
POSTGRES_PORT=NUMBER #REQUIRED
POSTGRES_USER=STRING #REQUIRED
POSTGRES_PASSWORD=STRING #REQUIRED
POSTGRES_DB=STRING #REQUIRED

PG_BOUNCER_HOST=STRING #REQUIRED
PG_BOUNCER_PORT=NUMBER #REQUIRED

REDIS_HOST=STRING #REQUIRED
REDIS_PORT=NUMBER #REQUIRED
REDIS_DB=NUMBER #REQUIRED

ENTRYPOINT_PORT=NUMBER #REQUIRED

ACCESS_TOKEN_SECRET_KEY=STRING #REQUIRED
ACCESS_TOKEN_ALGORITHM=STRING #OPTIONAL
ACCESS_TOKEN_EXPIRE_MINUTES=INT #OPTIONAL
ACCESS_TOKEN_TYPE=STRING #OPTIONAL
ACCESS_TOKEN_BLACKLIST_PREFIX=STRING #OPTIONAL

REFRESH_TOKEN_SECRET_KEY=STRING #REQUIRED
REFRESH_TOKEN_ALGORITHM=STRING #OPTIONAL
REFRESH_TOKEN_EXPIRE_MINUTES=INT #OPTIONAL
REFRESH_TOKEN_COOKIE_KEY=STRING #OPTIONAL
REFRESH_TOKEN_LIMIT=INT #OPTIONAL

AXIOM_TOKEN=STRING #REQUIRED
AXIOM_DATASET_NAME=STRING #REQUIRED
AXIOM_REGION=STRING #REQUIRED